@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  background: #f4f5f7;
}

.app {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.card {
  background: #fff;
  margin: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 2rem;
}

@media (min-width: 768px) {
  .card {
    width: 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 0.675rem 1.375rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background: #fb6404;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background: #e85c03;
}

.button:focus {
  outline: none;
}
